*{
    margin:0;
    padding:0;
}
body {
    font:14px/1.3 Arial,sans-serif;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    color:#fff;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
header h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}
header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}
.container {
    background-color: #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    height: 400px;
    margin: 30px auto;
    padding: 15px;
    width: 750px;
}

#contenedor2{
	width:80%; background-color: #f5f5f5; text-align: center; margin: 0 auto0 auto; font-family:Verdana; }
#cabecera2{
	width:100%; background-color: purple; text-align: center; overflow:hidden; padding: 0px0px0px 0px; margin: 0 auto10pxauto; }
#cuerpo2{
	width: 100%; margin: 10px 0 0 0; background-color: rosybrown; overflow: hidden; }
#izquierda2{
	float: left; width: 300px; background-color: blueviolet; font: 10ptVerdana; text-align: center; }
#derecha2{
	margin: 0px 0px 0px 320px; background-color: rosybrown; font: 12ptVerdana; text-align: center; }
#pie2{
	background-color: purple; margin: 10px 0 0 0; padding: 0 0 0 0px; text-align:center; clear: both; font: 8ptVerdana; } 