*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    background-image: url(../descarga.jpg);
background-repeat: no-repeat;
height: 100%;
width: 100%;
background-size: 350vh;

}

h1{

    text-align: center;
    font-size: 40px;
    font-family: arial;
    color: aqua;
    margin-top: 350px;
    text-shadow: 0px 0px 6px black;


}

h2{
    text-align: center;
    font-size: 40px;
    font-family: arial;
    margin-top: 80px;
    color: aqua;
    text-shadow: 0px 0px 6px black;
}

.contenido{
    width: 210px;
    margin: auto;
    perspective: 1500px;
    position: relative;
    margin-top: 50px;

}

.contenido_maqueta{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear ;
    transform-style: preserve-3d;
}

.contenido_maqueta:hover{
animation-play-state: paused;
cursor: pointer;
}

.contenido_maqueta figure{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
}

.contenido_maqueta img:hover{
transform: scale(1.2);
transition: all 300ms;
}

.contenido_maqueta figure:hover{
        box-shadow: 0px 0px 20px 0px black;
        transition: all 300ms;
}



.contenido_maqueta figure:nth-child(1){
    transform: rotateY(72deg) translateZ(300px);
    
}

.contenido_maqueta figure:nth-child(2){
    transform: rotateY(144deg) translateZ(300px);
    
}

.contenido_maqueta figure:nth-child(3){
    transform: rotateY(216deg) translateZ(300px);
    
}

.contenido_maqueta figure:nth-child(4){
    transform: rotateY(288deg) translateZ(300px);
    
}

.contenido_maqueta figure:nth-child(5){
    transform: rotateY(360deg) translateZ(300px);
    
}





.contenido_maqueta img{
width: 100%;

transition: all 300ms;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}