#contenedor2{
	width:80%; background-color: #f5f5f5; text-align: center; margin: 0 auto0 auto; font-family:Verdana; }
#cabecera2{
	width:100%; background-color: purple; text-align: center; overflow:hidden; padding: 0px0px0px 0px; margin: 0 auto10pxauto; }
#cuerpo2{
	width: 100%; margin: 10px 0 0 0; background-color: rosybrown; overflow: hidden; }
#izquierda2{
	float: left; width: 300px; background-color: blueviolet; font: 10ptVerdana; text-align: center; }
#derecha2{
	margin: 0px 0px 0px 320px; background-color: rosybrown; font: 12ptVerdana; text-align: center; }
#pie2{
	background-color: purple; margin: 10px 0 0 0; padding: 0 0 0 0px; text-align:center; clear: both; font: 8ptVerdana; } 